<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #form
        {
            width: 400px;
        }
    </style>
</head>
<body>
    <center>
        <h1>create_webpage</h1>
        <form action="" method="post" id="form">
            {% csrf_token %}
            <fieldset>
                <legend>webpage</legend>
                <label for="tn">topic_name</label>
                <input type="text" name="tn" id="tn"><br><br>
                <label for="n">name</label>
                <input type="text" name="n" id="n"><br><br>
                <label for="u">url</label>
                <input type="text" name="u" id="u"><br><br>
                <label for="e">email</label>
                <input type="text" name="e" id="e"><br><br>
                <input type="submit" value="create webpage">
            </fieldset>
        </form>
    </center>
</body>
</html>